<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>페이지 이름</title>
</head>

<main layout:fragment="main">
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <div class="mt-5 mb-2 text-xl font-bold text-center">
        <h1 class="text-3xl">주문하기</h1>
    </div>

    <!-- 주문상품 정보 시작 -->
    <div class="container max-w-screen-lg mx-auto">
        <div class="relative overflow-visible">
            <h2 class="mt-10 border-b-2 border-black text-xl">주문상품 정보</h2>
            <div class="box-border">
                <div class="w-full table">
                    <dl class="w-full table-row">
                        <dt class="px-5 py-4">
                            <span class="overflow-hidden w-20 overflow-ellipsis">주문번호 : [[${productBuyForm.orderNumber}]]</span>
                        </dt>
                        <dt class="pb-4 table-cell text-center"></dt>
                    </dl>
                    <hr/>
                    <dl class="table-row overflow-visible">
                        <div th:if="#{shoppingCartList == null}" class="flex justify-between items-center">
                            <dd class="table-cell w-1/7 p-3">
                                <img th:src="'/product_image/'+${productBuyForm.orderTitle}+'/'+${productBuyForm.orderImage}"
                                     alt="없음" class="product_img">
                            </dd>
                            <dd class="table-cell p-3 align-middle">
                                <span class="block">[[${productBuyForm.orderTitle}]]</span>
                                <span class="block">[[${productBuyForm.orderColor}]] / [[${productBuyForm.orderSize}]]</span>
                                <span>[[${productBuyForm.orderCounter}]]개</span>
                            </dd>
                            <dd class="table-cell p-3 mr-3">[[${productBuyForm.orderTotalPrice}]]원</dd>
                        </div>
                        <div th:if="#{shoppingCartList != null}" class="flex justify-between items-center">
                            <div th:each="shoppingCart : ${shoppingCartList}">
                                <dd class="table-cell w-1/7 p-3 border-t border-b">
                                    <img th:src="'/product_image/'+${shoppingCart.product.title}+'/'+${shoppingCart.product.mainImage}"
                                         alt="없음" class="product_img">
                                </dd>
                                <dd class="table-cell p-3 align-middle border-t border-b">
                                    <span class="block">[[${shoppingCart.product.title}]]</span>
                                    <span class="block">[[${shoppingCart.cartColor}]] / [[${shoppingCart.cartSize}]]</span>
                                    <span>[[${shoppingCart.cartCount}]]개</span>
                                </dd>
                                <dd class="table-cell p-3 mr-3">[[${productBuyForm.orderTotalPrice}]]원</dd>
                            </div>
                        </div>
                    </dl>
                </div>
                <hr/>
                <div class="px-5 py-4 text-right border-b-2 border-black text-gray-400">상품<span class="text-black"> [[${productBuyForm.orderTotalPrice}]]</span>원
                    + 배송<span class="text-black"> [[${productBuyForm.shippingCost}]]</span>원<span class="pl-3 box-border text-black">주문금액 [[${productBuyForm.orderTotalPrice + productBuyForm.shippingCost}]]원</span>
                </div>

                <div class="text-2xl text-right p-5 box-border">총 결제금액 <span class="text-yellow-400">[[${productBuyForm.orderTotalPrice + productBuyForm.shippingCost}]]</span><span>원</span>
                </div>
            </div>
        </div>
        <!-- 주문상품 정보 끝 -->

        <!-- 주문자 정보 시작 -->
        <form id="saveOrder">
            <input type="hidden" name="orderSheetNumber" th:value="${productBuyForm.orderNumber}">
            <div class="box-border">
                <h2 class="mt-10 box-border border-b-2 border-black text-xl">주문자 정보</h2>
                <div class="mb-10 table w-full border-b border-black">
                    <dl class="table-row">
                        <dt class="table-cell w-1/5 font-bold align-middle p-1 border-b border-gray-300">이름</dt>
                        <dd class="w-4/5 table-cell p-1 align-middle border-b border-gray-300">
                            <input type="text" name="orderSheetName" th:value="${mallUser.name}"
                                   class="w-full border-2 mx-1 px-4 py-3 box-border"/>
                        </dd>
                    </dl>
                    <dl class="table-row">
                        <dt class="table-cell w-1/5 font-bold align-middle p-1 border-b border-gray-300">휴대폰</dt>
                        <dd class="w-4/5 table-cell p-1 align-middle border-b border-gray-300">
                            <input type="text" name="orderSheetCellPhone1" th:value="${orderSheetForm.orderSheetCellPhone1}"
                                   class="w-1/4 border-2 mx-1 px-4 py-3 box-border" maxlength='3'> -
                            <input type="text" name="orderSheetCellPhone2" th:value="${orderSheetForm.orderSheetCellPhone2}"
                                   class="w-1/4 border-2 mx-1 px-4 py-3 box-border" maxlength='4'> -
                            <input type="text" name="orderSheetCellPhone3" th:value="${orderSheetForm.orderSheetCellPhone3}"
                                   class="w-1/4 border-2 mx-1 px-4 py-3 box-border" maxlength='4'>
                        </dd>
                    </dl>
                    <dl class="table-row">
                        <dt class="table-cell w-1/5 font-bold align-middle p-1 border-b border-gray-300">이메일</dt>
                        <dd class="w-4/5 table-cell p-1 align-middle border-b border-gray-300">
                            <input type="text" name="orderSheetEmail1" th:value="${orderSheetForm.orderSheetEmail1}"
                                   class="w-1/3 border-2 mx-1 px-4 py-3 box-border"> @
                            <select name="orderSheetEmail2" th:value="${orderSheetForm.orderSheetEmail2}"
                                    class="w-1/3 border-2 mx-1 px-4 py-3 box-border">
                                <option value="naver.com">naver.com</option>
                                <option value="daum.net">daum.net</option>
                                <option value="hotmail.com">hotmail.com</option>
                                <option value="nate.com">nate.com</option>
                                <option value="gmail.com">gmail.com</option>
                            </select>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- 주문자 정보 끝 -->

            <!--배송지 정보 시작-->
            <div class="box-border">
                <h2 class="mt-10 box-border border-b-2 border-black text-xl">배송지 정보</h2>
                <div class="mb-10 table w-full border-b border-black">
                    <dl class="table-row">
                        <dt class="table-cell w-1/5 font-bold align-middle p-1 border-b border-gray-300">수령자</dt>
                        <dd class="w-4/5 table-cell p-1 align-middle border-b border-gray-300">
                            <input type="text" name="orderSheetReceiver" th:value="${mallUser.name}"
                                   class="w-full border-2 mx-1 px-4 py-3 box-border">
                        </dd>
                    </dl>
                    <dl class="table-row">
                        <dt class="table-cell w-1/5 font-bold align-middle p-1 border-b border-gray-300">휴대폰</dt>
                        <dd class="w-4/5 table-cell p-1 align-middle border-b border-gray-300">
                            <input type="text" name="orderSheetReceiverPhone1"
                                   th:value="${orderSheetForm.orderSheetCellPhone1}"
                                   class="w-1/4 border-2 mx-1 px-4 py-3 box-border" maxlength='3'> -
                            <input type="text" name="orderSheetReceiverPhone2"
                                   th:value="${orderSheetForm.orderSheetCellPhone2}"
                                   class="w-1/4 border-2 mx-1 px-4 py-3 box-border" maxlength='4'> -
                            <input type="text" name="orderSheetReceiverPhone3"
                                   th:value="${orderSheetForm.orderSheetCellPhone3}"
                                   class="w-1/4 border-2 mx-1 px-4 py-3 box-border" maxlength='4'>
                        </dd>
                    </dl>
                    <dl class="table-row">
                        <dt class="table-cell w-1/5 font-bold align-middle p-1 border-b border-gray-300">배송주소</dt>
                        <dd class="w-4/5 table-cell p-1 align-middle border-b border-gray-300">
                            <div class="flex">
                            <input class="flex w-1/3 px-4 py-3 border-2 mx-1 mb-1" type="text"
                                   name="orderSheetReceiverAddress1" th:value="${orderSheetForm.orderSheetReceiverAddress1}"
                                   id="sample6_postcode" placeholder="우편번호" readonly>

                            <input class="flex w-1/3 px-4 py-3 border-2 mx-1 mb-1"
                                   type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"/>
                            </div>
                            <input class="w-full px-4 py-3 mx-1 border-2 mb-1" type="text"
                                   name="orderSheetReceiverAddress2" th:value="${orderSheetForm.orderSheetReceiverAddress2}"
                                   id="sample6_address" placeholder="주소" readonly>
                            <input class="w-1/3 px-4 py-3 mx-1 border-2" type="text" name="orderSheetReceiverAddress3"
                                   th:value="${orderSheetForm.orderSheetReceiverAddress3}" id="sample6_extraAddress" placeholder="동"
                                   readonly>
                            <input class="w-1/3 px-4 py-3 mx-1 border-2" type="text" name="orderSheetReceiverAddress4"
                                   th:value="${orderSheetForm.orderSheetReceiverAddress4}" id="sample6_detailAddress"
                                   placeholder="상세주소">


                        </dd>
                    </dl>
                    <dl class="table-row">
                        <dt class="table-cell w-1/5 font-bold align-middle p-1 border-b border-gray-300">배송메모</dt>
                        <dd class="w-4/5 table-cell p-1 align-middle border-b border-gray-300">
                            <select name="orderSheetReceiverOption" class="w-full border-2 mx-1 px-4 py-3 box-border">
                                <option value="" class="text-gray-300" selected>배송 시 요청사항을 입력해주세요.</option>
                                <option value="문 앞에 놓고가 주세요." class="text-gray-300">문 앞에 놓고가 주세요.</option>
                                <option value="경비실에 맡겨주세요." class="text-gray-300">경비실에 맡겨주세요.</option>
                                <option value="택배보관함에 넣어주세요." class="text-gray-300">택배보관함에 넣어주세요.</option>
                                <option value="직접 받겠습니다." class="text-gray-300">직접 받겠습니다.</option>
                            </select>
                            <input type="text" id="selboxDirect" name="orderSheetReceiverOption"/>
                        </dd>
                    </dl>
                </div>
            </div>

        <!--성공여부 판단-->
            <div id="isPaymentSuccess">
            </div>
        </form>
        <!--배송지 정보 끝-->

        <!--최종 결제 시작-->
        <div class="box-border">
            <h2 class="mt-10 box-border border-b-2 border-black text-xl">최종 결제 금액</h2>
            <div class="mb-10 table w-full border-b border-black">
                <dl class="px-2 overflow-hidden mb-15">
                    <dt class="font-bold float-left w-1/2 px-2 py-3">총 상품금액</dt>
                    <dd class="float-left text-right w-1/2 px-2 py-3">[[${productBuyForm.orderTotalPrice}]]원</dd>
                    <dt class="font-bold float-left w-1/2 px-2 py-3">배송비</dt>
                    <dd class="float-left text-right w-1/2 px-2 py-3">[[${productBuyForm.shippingCost}]]원</dd>
                    <dt class="text-3xl font-bold float-left w-1/2 px-2 py-3">총 결제예상 금액</dt>
                    <dd class="text-3xl font-bold text-yellow-400 float-left text-right w-1/2 px-2 py-3" id="money">
                        [[${productBuyForm.orderTotalPrice + productBuyForm.shippingCost}]]원
                    </dd>
                </dl>
            </div>
        </div>

        <!--최종 결제 끝-->

        <!--약관 및 개인정보 시작-->
        <div class="box-border">
            <h2 class="mt-10 box-border border-b-2 border-black text-3xl">구매조건/약관 및 개인정보 동의</h2>
            <div class="table w-full border-b border-black">
                <dl class="px-2 overflow-hidden mb-15">
                    <dt class="font-bold float-left w-1/2 px-2 py-3">• 하늘하늘 약관 동의</dt>
                    <dd class="float-left text-right w-1/2 px-2 py-3">내용보기</dd>
                    <dt class="font-bold float-left w-1/2 px-2 py-3">• 개인정보수집 및 이용에 대한 안내</dt>
                    <dd class="float-left text-right w-1/2 px-2 py-3">내용보기</dd>
                    <dt class="font-bold float-left w-1/2 px-2 py-3">• 구매조건 및 개인정보 제3자 제공</dt>
                    <dd class="float-left text-right w-1/2 px-2 py-3">내용보기</dd>
                </dl>
            </div>
        </div>
        <strong class="mt-3 w-full block text-bold">위 상품의 구매조건을 확인하였으며, 결제 및 개인 정보 제 3자 제공에 모두 동의합니다.</strong>
        <!--약관 및 개인정보 끝-->

        <!--주문하기 버튼 시작-->
        <div class="my-20 box-border text-center">
            <button id="iamportPayment" type="button" class="cursor-pointer w-full bg-black text-white px-20 py-5 text-2xl box-border">주문하기</button>
        </div>
        <!--주문하기 버튼 끝-->
    </div>


    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
    //문서가 준비되면 제일 먼저 실행
    $(document).ready(function(){
        $("#iamportPayment").click(function(){
            payment(); //버튼 클릭하면 호출
        });
    })


    //버튼 클릭하면 실행
    function payment(data) {
        IMP.init('imp30152242');//아임포트 관리자 콘솔에서 확인한 '가맹점 식별코드' 입력
        IMP.request_pay({// param
            pg: "kakaopay.TC0ONETIME", //pg사명 or pg사명.CID (잘못 입력할 경우, 기본 PG사가 띄워짐)
            pay_method: "card", //지불 방법
            merchant_uid: "[[${productBuyForm.orderNumber}]]", //가맹점 주문번호 (아임포트를 사용하는 가맹점에서 중복되지 않은 임의의 문자열을 입력)
            name: "[[${productBuyForm.orderTitle}]]", //결제창에 노출될 상품명
            amount: "[[${productBuyForm.orderTotalPrice + productBuyForm.shippingCost}]]", //금액
            buyer_email : "[[${mallUser.userEmail}]]",
            buyer_name : "[[${mallUser.name}]]",
            buyer_tel : "[[${mallUser.cellphone}]]"
        }, function (rsp) { // callback
            if (rsp.success) {
                var result = ""
                result = "<input type=\"hidden\" name=\"orderSheetShippingCost\" value=\"" + [[${productBuyForm.shippingCost}]]  + "\"/>"
                result += "<input type=\"hidden\" name=\"orderSheetProductCost\" value=\"" + [[${productBuyForm.orderTotalPrice}]]  + "\"/>"
                result += "<input type=\"hidden\" name=\"orderSheetTotalPrice\" value=\"" + [[${productBuyForm.shippingCost + productBuyForm.orderTotalPrice}]]  + "\"/>"
                result += "<input type=\"hidden\" name=\"paymentSuccess\" value=\"success\"/>";
                $("#isPaymentSuccess").replaceWith(result);
                saveOrder.action = "/product/saveOrder";
                saveOrder.method = "get";
                saveOrder.submit();
            } else {
                $("#isPaymentSuccess").replaceWith("<input type=\"hidden\" name=\"paymentSuccess\" value=\"fail\"/>");
                alert("결제에 실패했습니다.");
            }
        });
    }


    </script>
</main>
</html>