<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>페이지 이름</title>
</head>

<main layout:fragment="main">

    <div class="container max-w-screen-lg mx-auto">
        <div class="mt-5 mb-2 text-xl font-bold text-center">상품 등록</div>
        <div class="flex flex-wrap items-center justify-center h-full text-gray-800">
            <form id="productForm"  class="w-1/2" enctype="multipart/form-data">
                <input type="hidden" name="id" th:value="${product.id}">
                <!-- ProductName input -->
                <label for="title">상품명</label>
                <div class="flex mb-3">
                    <input type="text" name="title" id="title" th:value="${product.title}" class="flex w-full px-4 py-2 m-0 mr-3 text-xl text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded focus:text-gray-700" />
                </div>
                <!-- 상품 설명 -->
                <label for="body">상품 설명</label>
                <div class="mb-3">
                    <textarea type="text" name="body" id="body" th:value="${product.body}" cols="15" rows="5" class="w-full px-4 py-2 m-0 mr-3 text-xl text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded flex" placeholder="내용을 입력해주세요."></textarea>
                </div>

                <!-- Price input -->
                <label for="price">상품 가격</label>
                <div class="mb-3">
                    <input type="text" id="price" name="price" th:value="${product.price}" class="flex w-full px-4 py-2 m-0 mr-3 text-xl text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded focus:text-gray-700" />
                </div>

                <!-- discount input -->
                <label for="discount">할인률 (%)</label>
                <div class="mb-3">
                    <input type="text" id="discount" name="discount" th:value="${product.discount}" class="flex w-full px-4 py-2 m-0 mr-3 text-xl text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded focus:text-gray-700" />
                </div>

                <!-- Category input -->
                <label for="category">카테고리</label>
                <div class="mb-3">
                    <select id="category" name="category" class="w-full px-4 py-2 text-xl select select-bordered">
                        <option th:if="${product.category != null}" th:value="${product.category}">[[${product.category}]]</option>
                        <option th:if="${product.category == null}">카테고리를 선택해주세요</option>
                        <option value="man">MAN</option>
                        <option value="woman">WOMAN</option>
                        <option value="training">TRAINING</option>
                        <option value="acc">ACC</option>
                    </select>
                </div>

                <!-- 색상 input -->
                <div class="mb-3">
                    <label for="color">색상</label>
                    <input type="text" id="color" name="color" th:value="${color}" class="flex w-full px-4 py-2 m-0 mr-3 text-xl text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded focus:text-gray-700" />
                </div>

                <!-- 사이즈 input -->
                <div class="mb-3">
                    <label for="size">사이즈</label>
                    <input type="text" id="size" name="size" th:value="${size}" class="flex w-full px-4 py-2 m-0 mr-3 text-xl text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded focus:text-gray-700" />
                </div>
                <div th:if="${doModify != 1}">
                    <!-- 메인 이미지 -->
                    <div class="mb-5">
                        <label for="chooseFile1">
                            메인 이미지(한개 만 적용 가능합니다.)
                        </label>
                        <br>
                        <input type="file" id="chooseFile1" name="mainImage"/>
                    </div>
                    <!-- 상품 상세 이미지 -->
                    <div class="mb-5">
                        <label for="chooseFile2">
                            상세 이미지(최소 한개 이상 첨부가 필요합니다.)
                        </label>
                        <input type="file" id="chooseFile2" name="detailImage" multiple/>
                    </div>
                </div>

                <!-- Submit button -->
                <div class="flex w-full">
                    <button th:if="${doModify != 1}" type="submit" class="flex w-1/2 text-right border-2 text-white bg-black btn btn-active" data-mdb-ripple="true" data-mdb-ripple-color="light" onclick="javascript:productSubmit();">등록하기</button>
                    <button th:if="${doModify == 1}" type="submit" class="flex w-1/2 text-right border-2 text-white bg-black btn btn-active" data-mdb-ripple="true" data-mdb-ripple-color="light" onclick="javascript:productModify();">수정하기</button>
                    <button type="button" class="flex w-1/2 text-right border-2 text-white bg-black btn btn-active" data-mdb-ripple="true" data-mdb-ripple-color="light" onclick="javascript:cancel();">취소하기</button>
                </div>
            </form>
        </div>
    </div>
    <script layout:fragment="script" type='text/javascript'>
    function productSubmit() {
        productForm.action = "/product/doWrite";
        productForm.method = "post";
        productForm.submit();
    }

    function productModify() {
        productForm.action = "/product/doModify";
        productForm.method = "post";
        productForm.submit();
    }

    function cancel() {
        history.back();
    }
    </script>
</main>



</html>