@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body,
html > body input,
html > body select,
html > body textarea,
html > body pre,
html > body button {
  font-family:"BMJUA";
  color: #333;
  text-underline-position: under;
  line-height:1.3;
}

html,
body {
   position: relative;
   height: 100%;
}

body {
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   color: #000;
   margin: 0;
   padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-bar__menu-box-1 li:hover{
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
    color: aqua;
}

.con {
  width:1190px;
  margin-left: auto;
  margin-right: auto;
}

.product_img {
    width:200px;
    height:200px;
    }

.product_img2 {
    width:400px;
    height:400px;
    }
