@font-face {
    font-family: 'ChosunSm';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body,
html > body input,
html > body select,
html > body textarea,
html > body pre,
html > body button {
  font-family:"ChosunSm";
  color: #333;
  text-underline-position: under;
  line-height:1.3;
}

html,
body {
   position: relative;
   height: 100%;
}

body {
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   color: #000;
   margin: 0;
   padding: 0;
}

.swiper {
    width: 1190px;
    height: 540px;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide1>a img {
  display:relative;
  width: 595px;
  height: 540px;
}

.max-width {
    width: 1190px;
    height: 1050px;
}

.con {
  width:1190px;
  margin-left: auto;
  margin-right: auto;
}

.product_img {
    width:200px;
    height:200px;
    }

.product_img2 {
    width:400px;
    height:400px;
    }

.footer{
    width:1652px;
}

.request{
    width: 500px;
}

.top-bar__menu-box-1 li:hover{
    font-weight: 700;
}

.icon.solid:before {
		font-weight: 900 !important;
		}

.icon.brands:before {
		font-family: 'Font Awesome 5 Brands';
        }

.icon.major {
			...
		}

.icon.major:before {
        ...
		font-family: 'Font Awesome 5 Free';
	    ...;
		}
