<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 테일윈드 불러오기 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css">
<!-- 폰트어썸 불러오기 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<!-- 데이지UI 불러오기 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" type="text/css"/>
<link rel="stylesheet" href="/common/common.css">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<body>
<div class="max-w-screen-lg mx-auto h-screen">
    <div class="px-6 h-full text-gray-800">
        <div class="flex justify-center items-center flex-wrap h-full">
            <div>
                <div class="mt-5 mb-2 text-xl font-bold text-center">
                    비밀번호 찾기
                </div>
                <form th:action="">
                    <!-- Email input -->
                    <div>
                        <div class="mb-3 flex">
                            <input
                                    type="email"
                                    name="fPEmail"
                                    class="form-control block w-2/3 px-4 py-2 mr-1 text-lg font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:bg-white focus:border-blue-600 focus:outline-none"
                                    placeholder="Email"
                            />

                            <input
                                    type="submit"
                                    class="w-1/3 py-3 bg-black text-white font-medium text-sm rounded box-border btn"
                                    value="인증번호 발송">
                            </input>
                        </div>
                    </div>
                </form>
                <form action="">
                    <!-- Name input -->
                    <div class="mb-3">
                        <input
                                type="text"
                                class="form-control block w-full px-4 py-2 text-lg font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:bg-white focus:border-blue-600 focus:outline-none"
                                placeholder="인증번호 입력"
                        />
                    </div>

                    <div class="flex w-full h-auto justify-between">
                        <input
                                type="submit"
                                class="w-full py-3 bg-black text-white font-medium text-sm rounded box-border btn"
                                value="확인">
                        </input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>