<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout_noHeadUnder}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="/common/AddressSearch.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<main layout:fragment="main">

    <section class="flex justify-center">

        <!-- 회원가입  -->
        <div class="con px-6 py-12" th:object="${joinForm}">

            <!-- 이메일 인증  -->
            <div class="height-1 flex justify-center w-full items-center flex-wrap text-gray-800">
                <div class="flex justify-center items-center text-red-500 pb-3 box-border">
                    <div>
                        <div th:replace="/common/errorForm :: formErrorsFragment"></div>
                        <div th:if="${mailDto.success == 'Success'}">인증이 완료되었습니다.</div>
                        <div th:if="${mailDto.fail == 'Fail'}">인증이 실패했습니다.</div>
                    </div>
                </div>
                <div class="flex w-full mb-6">
                    <form th:action="@{|/mail|}" method="post" class="flex w-full">
                        <!-- userId input -->
                        <div class="flex w-full">
                            <input
                                    th:if="${mailDto.email == null}"
                                    type="email"
                                    name="email"
                                    class="form-control mr-3 flex w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                    placeholder="이메일"
                            />
                            <input
                                    th:if="${mailDto.email != null}"
                                    type="email"
                                    name="email"
                                    class="form-control mr-3 flex w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                    th:value="${mailDto.email}"
                                    readonly
                            />
                            <input
                                    th:if="${mailDto.email == null}"
                                    type="submit"
                                    class="flex w-1/5 text-right border-2 text-white bg-black btn btn-active "
                                    data-mdb-ripple="true"
                                    data-mdb-ripple-color="light"
                                    value="인증번호 발송"
                            />
                        </div>

                    <form th:if="${mailDto.success != 'Success'} and ${mailDto.email != null}" th:action="@{|/mail|}" method="post">
                        <input type="hidden" name="email" th:value="${mailDto.email}" class="">
                        <input
                                type="submit"
                                class="flex w-1/5 text-right border-2 text-white bg-black btn btn-active "
                                data-mdb-ripple="true"
                                data-mdb-ripple-color="light"
                                value="재전송"
                        >
                    </form>
                    </form>
                </div>

                <!-- 이메일 인증받은 인증번호 확인하기 -->
                <form th:if="${mailDto.success != 'Success'}" th:action="@{|/confirm|}" method="post" class="w-full">
                    <div class="mb-6 flex">
                        <input type="hidden" name="email" th:value="${mailDto.email}">
                        <input type="hidden" name="authentication" th:value="${mailDto.authentication}">
                        <input
                                type="text"
                                name="confirmAuthentication"
                                class="form-control mr-3 flex w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                placeholder="인증번호를 입력하세요"
                        />
                        <button
                                type="submit"
                                class="flex w-1/5 text-right border-2 text-white bg-black btn btn-active "
                                data-mdb-ripple="true"
                                data-mdb-ripple-color="light"
                        >
                            확인
                        </button>
                    </div>
                </form>
                <form th:action="@{|/user/doJoin|}" method="post" class="w-full">
                    <input type="hidden" name="email2" th:value="${mailDto.email}">
                    <input type="hidden" name="Success" th:value="${mailDto.success}">

                    <!-- Password input -->
                    <div class="mb-6">
                        <input
                                type="password"
                                name="password1"
                                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                placeholder="비밀번호"
                        />
                    </div>

                    <div class="mb-6 flex">
                        <input
                                type="password"
                                name="password2"
                                class="form-control flex w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                placeholder="비밀번호 확인"
                        />
                    </div>

                    <!-- 이름 등록  -->
                    <div class="mb-6 flex">
                        <input
                                type="text"
                                name="name2"
                                class="form-control flex w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                placeholder="이름"
                        />
                    </div>

                    <!-- 우편번호 찾아서 등록  -->
                    <div class="mb-6 flex">

                        <input class="flex w-1/3 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                               type="text" name="address1" id="sample6_postcode" placeholder="우편번호" readonly/>

                        <input class="flex w-1/3 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none justify-center"
                               type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"/><br>
                    </div>

                    <div class="mb-6 flex">

                        <input class="flex w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                               type="text" name="address2" id="sample6_address" placeholder="주소" readonly/>
                        <br>
                    </div>

                    <div class="mb-6 flex">
                        <input class="flex w-1/2 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                               type="text" name="address3" id="sample6_extraAddress" placeholder="동" readonly/>
                        <input class="flex w-1/2 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                               type="text" name="address4" id="sample6_detailAddress" placeholder="상세주소"/>
                    </div>

                    <!-- 생년월일 등록  -->
                    <div class="mb-6 flex">
                        <input
                                type="text"
                                name="birthday2"
                                class="form-control flex w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                placeholder="생년월일 앞6자리"
                        />
                    </div>

                    <!-- 휴대폰 번호 등록  -->
                    <div class="mb-6 flex">
                        <input
                                type="text" name="cellphone2_1" placeholder="010"
                                class="form-control flex w-1/3 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" maxlength='3'>
                        <input
                                type="text" name="cellphone2_2" placeholder="0000"
                                class="form-control flex w-1/3 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" maxlength='4'>
                        <input
                                type="text" name="cellphone2_3" placeholder="0000"
                                class="form-control flex w-1/3 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" maxlength='4'>
                    </div>

                    <!-- Submit button -->
                    <div class="flex">
                        <button
                                type="submit"
                                class="flex w-full text-right border-2 text-white bg-black btn btn-active"
                                data-mdb-ripple="true"
                                data-mdb-ripple-color="light"
                        >
                            가입하기
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
</html>
