<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>페이지 이름</title>
</head>

<main layout:fragment="main">
    <nav class="top-bar__menu-box-1 text-3xl my-2 w-full flex justify-center">
        My Page
    </nav>
    <div class="myimage flex w-full h-24 border-2 boder-gray-300">
        <p class="flex h-full justify-center w-28 items-center">
            <img src="https://img.echosting.cafe24.com/skin/base_ko_KR/member/img_member_default.gif" alt="">
        </p>
        <div class="w-full">
            <div class="w-full pt-2 h-1/2">[[${mallUser.name}]] 님 저희 쇼핑몰을 이용해 주셔서 감사합니다.</div>
        </div>
    </div>

    <div class="myordering mt-6 w-full h-32 border-2 border-gray-300">
        <div class="w-full h-12">
            <div class="flex h-12 pl-4 items-center border-b-2 border-gray-300">나의 주문처리 현황</div>
        </div>
        <div class="flex h-20">
            <li class="flex w-1/4 border-r border-gray-300 justify-center flex-col items-center">
                입금전
                <a href="#">
                    <span>0</span>
                </a>
            </li>
            <li class="flex w-1/4 border-r border-gray-300 justify-center flex-col items-center">
                배송준비중
                <a href="#">
                    <span>0</span>
                </a>
            </li>
            <li class="flex w-1/4 border-r border-gray-300 justify-center flex-col items-center">
                배송중
                <a href="#">
                    <span>0</span>
                </a>
            </li>
            <li class="flex w-1/4 justify-center flex-col items-center">
                배송완료
                <a href="#">
                    <span>0</span>
                </a>
            </li>
        </div>
    </div>

    <form th:action="@{|/user/myPage|}" method="post"
          class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
        <div class="w-3/4">
<!--            <div th:replace="/common/errorForm :: formErrorsFragment"></div>-->
            <!-- userId input -->
            <div class="mb-6 flex mt-6">
                <input
                        type="text"
                        name="email2"
                        class="form-control flex w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        placeholder="이메일"
                        th:value="${mallUser.userEmail}"
                        readonly
                />
            </div>
            <!-- Password input -->
            <div class="mb-6">
                <input
                        type="password"
                        name="password1"
                        class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        placeholder="비밀번호"
                />
            </div>

            <div class="mb-6 flex">
                <input
                        type="password"
                        name="password2"
                        class="form-control flex w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        placeholder="비밀번호 확인"
                />
            </div>

            <div class="mb-6 flex">
                <input
                        type="text"
                        name="name2"
                        class="form-control flex w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        placeholder="이름"
                        th:value="${mallUser.name}"
                />
            </div>

            <div class="mb-6 flex">

                <input class="flex w-1/3 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       type="text" name="address1" th:value="${joinForm.address1}" id="sample6_postcode"
                       placeholder="우편번호" readonly>

                <input class="flex w-1/3 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none justify-center"
                       type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
            </div>

            <div class="mb-6 flex">

                <input class="flex w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       type="text" name="address2" th:value="${joinForm.address2}" id="sample6_address" placeholder="주소"
                       readonly/>
                <br>
            </div>

            <div class="mb-6 flex">

                <input class="flex w-1/2 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       type="text" name="address3" th:value="${joinForm.address3}" id="sample6_extraAddress" placeholder="동" readonly/>

                <input class="flex w-1/2 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       type="text" name="address4" th:value="${joinForm.address4}" id="sample6_detailAddress" placeholder="상세주소" />

            </div>

            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
            <script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }


            </script>

            <div class="mb-6 flex">
                <input
                        type="text"
                        name="birthday2"
                        th:value="${mallUser.birthday}"
                        class="form-control flex w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        placeholder="생년월일 앞 6자리"

                />
            </div>

            <div class="mb-6 flex">
                <input
                        type="text" name="cellphone2_1" th:value="${joinForm.cellphone2_1}"
                        class="form-control flex w-1/3 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" maxlength='3' readonly/>
                <input
                        type="text" name="cellphone2_2" th:value="${joinForm.cellphone2_2}"
                        class="form-control flex w-1/3 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" maxlength='4' readonly/>
                <input
                        type="text" name="cellphone2_3" th:value="${joinForm.cellphone2_3}"
                        class="form-control flex w-1/3 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" maxlength='4' readonly/>
            </div>

            <!-- Submit button -->
            <div class="flex">
                <button
                        type="submit"
                        class="flex w-2/1 justify-center items-center h-11 mr-2 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
                        data-mdb-ripple="true"
                        data-mdb-ripple-color="light"
                >
                    수정하기
                </button>
                <button
                        type="submit"
                        class="flex w-2/1 justify-center items-center h-11 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
                        data-mdb-ripple="true"
                        data-mdb-ripple-color="light"
                >
                    취소
                </button>
            </div>
            <div
                    class="flex items-center my-4 before:flex-1 before:mt-0.5 after:flex-1 after:mt-0.5"
            >
            </div>
        </div>
    </form>

</main>
</html>