<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/mypagelayout}">
<head>
    <meta charset="UTF-8">
    <title>배송관련 주문내역 페이지</title>
</head>

<main layout:fragment="main">

    <h2 class="h-10 ml-2 mt-4 text-xl leading-10 border-b-2 border-black"></h2>
    <mainthird>
    <table class="w-full h-2/5">
        <colgroup class="#">
            <col width="25%"/>
            <col width="25%"/>
            <col width="15%"/>
            <col width="15%"/>
            <col width="20%"/>
        </colgroup>
        <thead class="h-12 items-center">

        <tr class="border-b-2 border-gray-200 mb-6">
            <th class="justify-center">상품주문번호</th>
            <th class=""></th>
            <th class="justify-center">주문금액</th>
            <th class="justify-center">구매상태</th>
            <th class="justify-center">주문상세</th>
        </tr>

        </thead>
        <div th:each="shoppingCart : ${shoppingCartList}">
            <tbody class="border-b-2 border-gray-200 h-32">
            <tr>
                <th class="flex h-full">
                    <ul class="flex w-full items-center justify-center h-full p-6">
                        <li>
                            <a href="#">
                                <img class="w-full product_img"
                                     th:src="'/product_image/'+${shoppingCart.product.title} + '/' + ${shoppingCart.product.mainImage}"
                                     alt="" >
                            </a>
                        </li>
                    </ul>
                </th>
                <th class="">
                    <div>
                        <span class="block w-full">[[${shoppingCart.product.title}]]</span>
                        <span class="block w-full">[[${shoppingCart.cartColor}]] / [[${shoppingCart.cartSize}]]</span>
                        <span id="resultBox">[[${shoppingCart.cartCount}]]</span>
                    </div>
                </th>
                <th class="price">
                    <script>
                        /*<![CDATA[*/

                        function calc(){
                            let price = [[${shoppingCart.product.price}]];
                            let discount = 1 - ([[${shoppingCart.product.discount}]] / 100);
                            let result = price * discount;
                            document.write(result);
                        }
                        calc();

                        /*]]*/
                        </script>
                </th>
                <th>
                    <span class="flex justify-center text-lg">구매확정</span>
                    <button class="btn">배송조회</button>
                </th>
                <th>
                    <button class="block w-full">주문상세 페이지 이동</button>
                </th>
            </tr>
            </tbody>
        </div>
    </table>
        <mainthird>

</main>
</html>