<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout_noHeadUnder}">
<head>
    <meta charset="UTF-8">
    <title>배송관련 주문내역 페이지</title>
</head>

<main layout:fragment="main">

    <nav class="top-bar__menu-box-1 text-3xl my-2 w-full flex justify-center">
        My Page
    </nav>
    <div class="myimage flex w-full h-24 border-2 boder-gray-300">
        <p class="flex h-full justify-center w-28 items-center">
            <img src="https://img.echosting.cafe24.com/skin/base_ko_KR/member/img_member_default.gif" alt="">
        </p>
        <div class="w-full">
            <div class="flex w-full pt-2 h-full items-center">[[${mallUser.name}]] 님 저희 쇼핑몰을 이용해 주셔서 감사합니다.</div>
        </div>
    </div>

    <div class="myordering mt-6 w-full h-32 border-2 border-gray-300">
        <div class="w-full h-12">
            <div class="flex h-12 pl-4 items-center border-b-2 border-gray-300">나의 주문처리 현황</div>
        </div>
        <div class="flex h-20">
            <li class="flex w-1/4 border-r border-gray-300 justify-center flex-col items-center">
                입금전
                <a th:href="@{|/user/orderHistory|}">
                    <span>[[${shippingState.get(0)}]]</span>
                </a>
            </li>
            <li class="flex w-1/4 border-r border-gray-300 justify-center flex-col items-center">
                배송준비중
                <a th:href="@{|/user/orderHistory|}">
                    <span>[[${shippingState.get(1)}]]</span>
                </a>
            </li>
            <li class="flex w-1/4 border-r border-gray-300 justify-center flex-col items-center">
                배송중
                <a th:href="@{|/user/orderHistory|}">
                    <span>[[${shippingState.get(2)}]]</span>
                </a>
            </li>
            <li class="flex w-1/4 justify-center flex-col items-center">
                배송완료
                <a th:href="@{|/user/orderHistory|}">
                    <span>[[${shippingState.get(3)}]]</span>
                </a>
            </li>
        </div>
    </div>

    <h2 class="h-10 ml-2 mt-4 text-xl leading-10 border-b-2 border-black"></h2>
    <mainthird>
    <table class="w-full h-2/5">
        <colgroup class="#">
            <col width="25%"/>
            <col width="25%"/>
            <col width="15%"/>
            <col width="15%"/>
            <col width="20%"/>
        </colgroup>
        <thead class="h-12 items-center">

        <tr class="border-b-2 border-gray-200 mb-6">
            <th class="justify-center">상품주문번호</th>
            <th class=""></th>
            <th class="justify-center">주문금액</th>
            <th class="justify-center">구매상태</th>
            <th class="justify-center">주문상세</th>
        </tr>
        </thead>
        <div th:each="orderSheet : ${orderSheetList}">
            <tbody class="border-b-2 border-gray-200 h-32">
            <tr>
                <th class="flex h-full">
                    <ul class="flex w-full items-center justify-center h-full p-6">
                        <li>
                            <a href="#">
                                <img class="w-full product_img"
                                     th:src="'/product_image/'+${shoppingCart.product.title} + '/' + ${shoppingCart.product.mainImage}"
                                     alt="" >
                            </a>
                        </li>
                    </ul>
                </th>
                <th class="">
                    <div>
                        <span class="block w-full">[[${shoppingCart.product.title}]]</span>
                        <span class="block w-full">[[${shoppingCart.cartColor}]] / [[${shoppingCart.cartSize}]]</span>
                        <span id="resultBox">[[${shoppingCart.cartCount}]]</span>
                    </div>
                </th>
                <th class="price">
                    <script>
                        /*<![CDATA[*/

                        function calc(){
                            let price = [[${shoppingCart.product.price}]];
                            let discount = 1 - ([[${shoppingCart.product.discount}]] / 100);
                            let result = price * discount;
                            document.write(result);
                        }
                        calc();

                        /*]]*/
                        </script>
                </th>
                <th>
                    <span class="flex justify-center text-lg">구매확정</span>
                    <button class="btn">배송조회</button>
                </th>
                <th>
                    <a th:href="'/product/detail?id='+${shoppingCart.product.id}" class="block w-full">
                        <span>주문상세 페이지 이동</span>
                    </a>
                </th>
            </tr>
            </tbody>
        </div>
    </table>
        <mainthird>

</main>
</html>