<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form name="sendData" th:action="@{|/user/findPw|}" method="get">
    <input type="hidden" name="email" th:value="${findPwForm.email}">
    <input type="hidden" name="authentication" th:value="${findPwForm.authentication}">
    <input type="hidden" name="confirmAuthentication" th:value="${findPwForm.confirmAuthentication}">
    <input type="hidden" name="isSuccess" th:value="${findPwForm.isSuccess}">
    <input type="hidden" name="isSend" th:value="${findPwForm.isSend}">
</form>
</body>
<script layout:fragment="script" type='text/javascript'>
    document.sendData.submit();
</script>
</html>