<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
</head>

<main layout:fragment="main">
    <div class="text-3xl mb-10 flex justify-center mt-10">관리자 페이지(상품 리스트)</div>
    <hr class="-mt-5">
    <div style="height:70vh;">
        <div class="overflow-x-auto">
            <table class="table w-full">
                <!-- head -->
                <thead>
                <tr>
                    <th class="text-base">주문번호</th>
                    <th class="text-base">상품 정보</th>
                    <th class="text-base">주문날짜</th>
                    <th class="text-base">구매자</th>
                    <th class="text-base">구매자 이메일</th>
                    <th class="text-base">구매자 번호</th>
                    <th class="text-base">수령인</th>
                    <th class="text-base">수령인 번호</th>
                    <th class="text-base">배송지</th>
                    <th class="text-base">배송상태</th>
                    <th class="text-base">가격</th>
                    <th class="text-base">세부사항</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="orderSheet : ${orderSheetList}">
                    <tr th:id="'divDel' + ${orderSheet.id}">
                        <th class="text-base">[[${orderSheet.sheetNumber}]]</th>
                        <td class="flex flex-col text-base">
                            <span class="text-xs">[[${orderSheet.product.title}]]</span>
                            <span class="text-xs">[[${orderSheet.sheetProductColor}]]</span>
                            <span class="text-xs">[[${orderSheet.sheetProductSize}]]</span>
                        </td>
                        <td class="text-base">[[${(orderSheet.regDate).toString().substring(0,10)}]]</td>
                        <td class="text-base">[[${orderSheet.sheetOrdererName}]]</td>
                        <td class="text-base">[[${orderSheet.sheetOrdererEmail}]]</td>
                        <td class="text-base">[[${orderSheet.sheetOrdererPhone}]]</td>
                        <td class="text-base">[[${orderSheet.sheetReceiverName}]]</td>
                        <td class="text-base">[[${orderSheet.sheetReceiverPhone}]]</td>
                        <td class="text-base">[[${orderSheet.sheetReceiverAddress}]]</td>
                        <td class="flex flex-col text-base">
                            <div th:id="'divMod' + ${orderSheet.id}">
                                <span th:if="${orderSheet.nowState == 0}">입금전</span>
                                <span th:if="${orderSheet.nowState == 1}">배송준비중</span>
                                <span th:if="${orderSheet.nowState == 2}">배송중</span>
                                <span th:if="${orderSheet.nowState == 3}">배송완료</span>
                                <span th:if="${orderSheet.nowState == 4}">구매확정</span>
                            </div>
                            <select th:id="'selMod' + ${orderSheet.id}" class="mt-1">
                                <option value="0">입금전</option>
                                <option value="1">배송준비중</option>
                                <option value="2">배송중</option>
                                <option value="3">배송완료</option>
                            </select>
                        </td>
                        <td>
                            <div class="flex flex-col text-base">
                                <span class="text-sm">[[${orderSheet.productCost}]] 원</span>
                                <span class="text-sm" th:if="${orderSheet.shippingCost != 0}">유료배송</span>
                                <span class="text-sm" th:if="${orderSheet.shippingCost == 0}">무료배송</span>
                            </div>
                        </td>
                        <td class="text-base">
                            <a th:href="'javascript:orderModify('+${orderSheet.id}+')'" class="btn btn-active btn-link -ml-5">수정</a>
                            <a th:href="'javascript:orderDelete('+${orderSheet.id}+')'" class="btn btn-active btn-link -ml-5 text-red-600">삭제</a>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>

</main>
</html>
<script layout:fragment="script" type='text/javascript' src="../common/ManagerControl.js"></script>