<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <!--    <div th:replace="common/darkMod :: darkFragment"></div>-->
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">글 수정 페이지</title>
</head>

<main layout:fragment="main">
    <div class="container max-w-screen-lg mx-auto">
        <div class="mt-5 mb-2 text-xl font-bold text-center">Q & A 수정</div>
        <div class="flex flex-wrap items-center justify-center h-full text-gray-800">
        <form class="w-full" th:action="@{/question/update/{id}(id = ${question.id})}" method="post">

            <!-- 게시물 수정 시작 -->
            <table class="table w-full justify-center my-10 border-2 border-black">

                <!-- 제목 작성 시작 -->
                <tr class="w-full h-16 border-b-2 border-black">
                    <th class="py-3 text-xl text-center border-r-2 border-black">제목</th>
                    <td class="py-3 text-lg">
                        <input
                                type="text"
                                name="subject"
                                class="flex w-full px-4 py-2 m-0 mr-3 text-xl text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded focus:text-gray-700"
                                th:value="${question.subject}"
                                placeholder="제목을 입력해주세요."/>
                    </td>
                </tr>
                <!-- 제목 작성 끝 -->

                <!-- 내용 작성 시작 -->
                <tr class="w-full h-16">
                    <th class="py-3 text-xl text-center border-r-2 border-black">내용</th>
                    <td class="py-3 text-lg">
                        <textarea name="content" id="content" cols="15" rows="5" th:text="${question.content}" class="w-full px-4 py-2 m-0 mr-3 text-xl text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded " placeholder="내용을 입력해주세요."></textarea>
                    </td>
                </tr>
                <!-- 내용 작성 끝 -->
            </table>
            <!-- 게시물 수정 끝 -->

                <!-- 수정하기 및 취소 버튼 시작 -->
                <div class="flex">
                    <button
                            type="submit"
                            class="flex w-1/2 text-right border-2 text-white bg-black btn btn-active mr-1"
                            data-mdb-ripple="true"
                            data-mdb-ripple-color="light"
                    >
                        수정하기
                    </button>
                    <button
                            type="submit"
                            class="flex w-1/2 text-right border-2 text-white bg-black btn btn-active"
                            data-mdb-ripple="true"
                            data-mdb-ripple-color="light"
                    >
                        취소
                    </button>
                </div>
                <!-- 수정하기 및 취소 버튼 끝 -->

               </form>
        </div>
    </div>
</main>
</html>