<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>Q&A</title>
</head>

<main layout:fragment="main">
    <section class="container w-full mx-auto h-full">

        <!-- 상단바 -->
        <!-- id 증가 -->
            <div class="container max-w-screen-lg mx-auto">
                <div class="text-4xl font-bold mt-5 mb-2 text-center">Q & A</div>
            </div>

            <div class="mt-4 mb-4 h-36 w-full">
                <div class="flex justify-center w-full h-1/2 items-center text-3xl">CS CENTER 1234-5678</div>
                <span class="flex justify-center w-full h-1/2">평일 09:00 ~ 17:00 | 주말 12:00 ~ 13:00 </span>
            </div>

            <!-- Q & A 테이블 -->
            <table class="min-w-full table-auto text-gray-800">
                <thead class="justify-between">
                <tr class="bg-gray-800">
                    <th class="text-gray-300 py-3">No.</th>
                    <th class="text-gray-300 py-3">작성자</th>
                    <th class="text-gray-300 px-8 py-3">제목</th>
                    <th class="text-gray-300 py-3">작성날짜</th>
                </tr>
                </thead>
                <tbody class="justify-between">

                <tr th:each="question, loop : ${paging}" class="">
                    <th th:text="${question.id}" class="px-4 py-3"></th>
                    <th th:text="${question.mallUser.name}" class="px-4 py-3"></th>
                    <th  class="px-4 py-3"><a th:text="${question.subject}" th:href="@{|/question/detail/${question.id}|}" ></a></th>
                    <th th:text="${(question.createDate).toString().substring(0,10)}" class="px-4 py-3"></th>


                </tr>

                </tbody>
            </table>

            <!-- 글쓰기 클릭메뉴 -->
            <div class="flex w-full h-16 bg-gray-300 justify-end pr-4 items-center border-2 border-gray-300">

                <a class="text-right">

                   <button th:classappend="${session.UserId} == null ? hidden" class="{{session.UserId != null ? btn btn-sm btn-active : hidden}}"  th:onclick="|location.href='/question/doWrite'|">글쓰기</button>

                </a>
            </div>

        <!-- 페이징처리 시작 -->
        <div>
        <div th:if="${!paging.isEmpty()}" class="flex justify-center">
            <ul class="pagination justify-content-center flex justify-between w-72 mt-6">
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|?page=${paging.number-1}|}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'"
                    class="page-item">
                    <div th:if="${kw == null}">
                        <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                    </div>
                    <div th:if="${kw != null}">
                        <a th:text="${page}" class="page-link" th:href="'/question/detail?kw=' + ${kw} + '&page=' + ${page}"></a>
                    </div>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>
        </div>
        <!-- 페이징처리 끝 -->

            <!-- 검색 -->
            <div class="flex mt-3 mb-8 items-center w-full h-12">
                <form th:action="@{|/question/detail|}" method="get" id="searchForm">
                    <input class="h-1/2 ml-3 mr-2 border border-gray-500" type="text" id="kw" name="kw" th:value="${kw}" placeholder="검색">
                    <input type="hidden" id="page" name="page" th:value="${paging.number}">
                    <button>
                        <img src="https://www.boom-style.com/design/kr/board_list_new_c_3_image_url_4.gif" alt="">
                    </button>
                </form>
            </div>

            </div>
    </section>
</main>
</html>