<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{common/layout}">

<head>
    <meta charset="UTF-8">
    <title>Q&A detail</title>
</head>


<main layout:fragment="main">
        <div class="container max-w-screen-lg mx-auto">
            <div class="mt-5 mb-2 text-xl font-bold text-center">QnA 상세보기</div>
            <div class="flex flex-wrap items-center justify-center h-full text-gray-800">
                <div class="">
                    <!-- userId input -->
                    <div>제목</div>
                    <div class="flex mb-6">
                        <input
                                type="text"
                                name="subject"
                                th:value="${question.subject}"
                                class="flex w-full px-4 py-2 m-0 mr-3 text-xl text-gray-700 transition ease-in-out bg-white border-none border-solid rounded focus:text-gray-700 outline-none"
                                placeholder="제목을 입력해주세요."
                         readonly/>
                    </div>
                    <!-- Password input -->

                    <label for="content">내용</label>
                    <div class="mb-6">
                        <textarea th:text="${question.content}" name="content" id="content" cols="30" rows="15" class="w-full px-4 py-2 m-0 mr-3 text-xl text-gray-700 transition ease-in-out bg-whiteborder-none border-solid rounded outline-none" placeholder="내용을 입력해주세요."
                                  readonly/>
                    </div>


                    <!-- Submit button -->
                    <div>
                        <form id="questionATag">
                            <div class="flex">
                            <input type="hidden" name="mallUserId" th:value="${question.mallUser.id}">
                            <input type="hidden" name="questionId" th:value="${question.id}">
                            <a class="flex w-1/2 text-right border-2 text-white bg-black btn btn-active mr-1" href="javascript:questionModify();" >수정</a>
                            <a class="flex w-1/2 text-right border-2 text-white bg-black btn btn-active" onclick="if ( confirm('정말로 삭제하겠습니까?') == false ) return false;" href="javascript:questionDel();" >글 삭제</a>
                            </div>
                        </form>
                    </div>


                    <div class="mt-6">
                        <table>
                        <div>
                            <tbody class="border-b-2 border-gray-200">
                            <tr class="mt-2">
                                <li th:each="questionAnswer : ${question.questionAnswerList}" th:text="${questionAnswer.body}"></li>
                            </tr>
                            </tbody>
                        </div>
                    </table>
                        <form th:action="@{|/answer/create/${question.id}|}" method="post">
                            <textarea class="mt-8 w-full border border-gray-300 border-solid rounded focus:text-gray-700" name="body" id="body" rows="5"></textarea>
                            <div class="w-full text-end">
                                <input type="submit" value="답변등록" class="text-right text-white bg-black btn btn-active">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <script fragment="script" type='text/javascript'>
    function questionDel(){
        questionATag.action = "/question/delete";
        questionATag.method = "Get";
        questionATag.submit();
    }
    function questionModify(){
        questionATag.action = "/question/modify";
        questionATag.method = "Get";
        questionATag.submit();
    }
    </script>

</main>
</html>

